/* Custom css for Theme Options Panel */

#optionsframework-wrap h2.nav-tab-wrapper {
  width: 18%;
  float: left;
}
#optionsframework-metabox {
  float: left;
  padding-top: 8px !important;
  width: 80%;
  padding-left: 20px;
}
#optionsframework-wrap h2.nav-tab-wrapper a {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #005998;
  color: #fff;
}
#optionsframework-wrap h2.nav-tab-wrapper a span {
  padding: 10px 20px;
  width: auto;
  display: block;
}
#optionsframework-wrap h2.nav-tab-wrapper a.nav-tab-active {
  background: #003051 !important;
  border: 0;
}
#optionsframework-wrap .postbox {
  padding: 53px 22px 50px;
  position: relative;
  min-height: 250px;
}
#optionsframework-submit {
  bottom: 0;
  left: 0;
  padding: 2% !important;
  position: absolute;
  width: 96%;
}
#optionsframework-wrap .postbox .group h3 {
  left: 0;
  margin: 0;
  padding: 2% 4%;
  position: absolute;
  top: 0;
  width: 92%;
  background: #003051 !important;
  color: #fff !important;
}

#acf-speaker_name {
  display: inline-block;
  width: 50%;
}
#acf-episode_no {
  display: inline-block;
  width: 45%;
}
#toplevel_page_scrawk-options .menu-icon-generic {
  background: #fff !important;
  color: #000 !important;
  font-weight: bold !important;
}
#toplevel_page_scrawk-options .wp-menu-image:before {
  display: none;
}
#toplevel_page_scrawk-options .wp-menu-image {
  background: url(../images/scrawk_icon.png) no-repeat !important;
  background-size: 70% 70% !important;
  background-position: center center !important;
}
.nav-tab-wrapper .branding img {
  width: 100%;
  height: auto;
}
.nav-tab-wrapper .branding {
  background: #fff;
  text-align: center;
  float: left;
}
.nav-tab-wrapper .branding small {
  margin: 0 0 10px;
  float: left;
  width: 100%;
  color: #b4b4b4;
}
.nav-tab-wrapper .nav-tab .fa {
  margin-right: 10px;
}
#optionsframework-wrap .postbox {
  min-height: 500px;
}
.acf-field-group[data-name="member_social_profile"] .acf-field {
  width: 50%;
  clear: none;
  float: left;
}
