/* ================================ */
/* Custom google font integration */
/* ================================ */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

/* ================================ */
/* General CSS                      */
/* ================================ */

[data-bg="light-gray"] {
  background: #f3f6f8;
  color: #232323;
}
[data-bg="gray"] {
  background: #d8dde6;
  color: #232323;
}
[data-bg="black"] {
  background: #000;
  color: #fff;
}
[data-bg="navy-blue"] {
  background: #001443;
  color: #fff;
}
[data-bg="brown-black"] {
  background: #444;
  color: #fff;
}
[data-bg="white"] {
  background: #fff;
  color: #232323;
}
[data-padding="5015"] {
  padding: 50px 15px;
}
[data-padding="2500"] {
  padding: 25px 0;
}
[data-padding="10015"] {
  padding: 100px 15px;
}
[data-padding="15015"] {
  padding: 150px 15px;
}
.no-padding-bottom {
  padding-bottom: 0;
}

.red-text {
  color: #e22a31;
}
.blue-text {
  color: #0c65ed;
}

html {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  background: #fcfcfc !important;
}
body,
button,
input,
select,
textarea {
  font-family: "Montserrat", sans-serif !important;
}
a:link,
a:visited,
a:active,
a:focus,
a::before,
a::after {
  outline: 0 none;
  text-decoration: none;
}
a,
button,
.sub,
.wpcf7-submit {
  transition: all 0.2s linear 0s;
}
a {
  color: #f09217;
  text-decoration: none;
  outline: 0;
}
a:hover,
a:active {
  color: #005397;
}
*::-moz-placeholder {
  color: #c6c6c6;
  opacity: 1;
}
*::-moz-selection {
  background: #b3d4fc none repeat scroll 0 0;
  text-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #40454d;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 10px;
  margin-top: 0;
}
h3,
h4,
h5,
h6 {
  margin-bottom: 7px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.mom-main-color,
.mom-main-color a {
  color: #005397;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
  text-transform: capitalize;
  color: #1a1a1a;
}
h6 {
  font-size: 12px;
}

h1 .subTitle,
h2 .subTitle,
h3 .subTitle,
h4 .subTitle,
h5 .subTitle,
h6 .subTitle {
  color: #999;
  display: block;
  font-size: 0.65em;
}
p,
a {
  font-family: "Montserrat", sans-serif;
}
.width100 {
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.align-right {
  text-align: right;
}

.full-width {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  z-index: 10;
}
.clearfix {
  clear: both;
}
p:last-child {
  margin-bottom: 0;
}
.no-display {
  display: none;
}

#main-header {
  background: #fff;
  transition: all 0.3s ease;
  top: 0;
  position: relative;
}
.header-right {
  position: static;
}
#main-header.shrink {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.mom-social-icons {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mom-social-icons li {
  display: inline-block;
  line-height: 1.5;
  margin: 0 0 0 14px;
}
.mom-social-icons li a {
  color: #fff;
}
.mom-social-icons li a:hover {
  color: #0092d7;
}
.branding {
  display: block;
  margin: 0;
  outline: 0 none;
}
#main-header-notop .branding img {
  margin-top: 0;
  max-width: 70%;
}
#main-header-notop .branding {
  margin-top: 10px;
}
.menu-main-menu-container ul {
  float: right;
  list-style-type: none;
  margin: 25px 0 0;
  padding: 0;
}
.menu-main-menu-container ul li {
  display: inline-block;
  margin-left: 30px;
  line-height: 1.5;
  position: relative;
  padding: 0 0 22px;
}
.menu-main-menu-container ul li a {
  color: #fff;
  font-size: 16px;
  position: relative;
  display: block;
  height: 100%;
  text-transform: uppercase;
}
.menu-main-menu-container ul li a:hover {
  color: #fff;
}
.menu-main-menu-container ul li a:before,
.menu-main-menu-container ul li a:after,
.menu-main-menu-container ul li.current-menu-item a:before,
.menu-main-menu-container ul li.current-menu-item a:after,
.menu-main-menu-container ul li.current-menu-parent a:before,
.menu-main-menu-container ul li.current-menu-parent a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: "";
  background: #e00404;
  transition: all 0.3s;
}
.menu-main-menu-container ul li a:before,
.menu-main-menu-container ul li.current-menu-item a:before,
.menu-main-menu-container ul li.current-menu-parent a:before {
  left: 0px;
  top: -5px;
}
.menu-main-menu-container ul li a:after,
.menu-main-menu-container ul li.current-menu-item a:after,
.menu-main-menu-container ul li.current-menu-parent a:after {
  right: 0px;
  bottom: -5px;
}
.menu-main-menu-container ul li a:hover:before,
.menu-main-menu-container ul li a:hover:after {
  opacity: 1;
  width: 100%;
}
.menu-main-menu-container ul li.current-menu-item a:before,
.menu-main-menu-container ul li.current-menu-item a:after,
.menu-main-menu-container ul li.current-menu-parent a:before,
.menu-main-menu-container ul li.current-menu-parent a:after {
  opacity: 1;
  width: 100%;
}

/* ==================== */
/* Hero Posts */
/* ==================== */

#hero-posts {
  background: #000000;
  text-align: center;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
#hero-section {
  height: 450px;
  overflow: hidden;
}
#hero-posts .container {
  padding-top: 60px;
}

/* ======================== */
/* services-container */
/* ======================== */

#services-container {
  position: relative;
  z-index: 2;
}
#services-container .container {
  padding: 45px 15px;
}

.section-title {
  color: #232323;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  margin: 0 0 15px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}
.section-title:before {
  background: #2154cf none repeat scroll 0 0;
  bottom: 5px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}
.section-title:after {
  background: #2154cf none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}
.text-left .section-title:before,
.text-left .section-title:after {
  left: 0;
  margin-left: 0;
}
.sub-txt {
  margin: 30px 0 0;
  font-size: 16px;
}

/* ======================== */
/* Teams Section */
/* ======================== */
.teams {
  margin: 40px -15px;
}
.team-item-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.team-item-title {
  padding: 15px 20px;
  width: 100%;
  display: block;
  background: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 0 10px #cccccc;
  margin: 0;
  color: #232323;
}
.team-item-title a {
  display: block;
  width: 100%;
}
.team-item {
  padding: 0 15px 20px;
}
.team-item-details .team-item-img {
  height: auto;
}
.team-item-details-cont {
  padding: 25px 35px;
  background: #fff;
  box-shadow: 0 0 10px #cccccc;
  border-radius: 0 0 5px 5px;
}
.team-item-details-cont .team-item-title {
  padding: 0;
  background: none;
  box-shadow: none;
  font-size: 24px;
  margin: 0 0 5px;
}
.team-item-desig {
  color: #2154cf;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 100%;
  display: block;
}
.team-item-detail-txt {
  color: #232323;
  line-height: 26px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}
.team-item-socials a {
  background: #0a2134;
  border-radius: 100%;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
  font-size: 20px;
}
.team-item-socials a:hover {
  background: #2154cf;
}
/* ======================== */
/* Testimonial Section */
/* ======================== */
.testi-items .testi-img {
  margin: 0 auto 20px;
  position: relative;
  display: table;
  border-radius: 100%;
  overflow: hidden;
  width: 170px;
  height: 170px;
}
.testi-items .testi-img:after {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  top: 0;
  padding: 15px;
  border: 10px solid #000;
}
.testi-items .testi-img img {
  width: 100%;
  height: 100%;
}
.testi-items .rating {
  color: #e0c502;
  clear: both;
  display: block;
  margin: 15px 0 0;
}
.testi-items .rating .fa {
  margin: 0 3px;
  font-size: 22px;
}
.testi-items blockquote {
  border: 0;
  font-family: "Open Sans";
  position: relative;
  padding: 0 60px;
}
.testi-items blockquote:before {
  content: "\201C";
  left: 0;
  top: -20px;
  display: block;
  font-size: 100px;
  position: absolute;
  height: 80px;
  line-height: 1;
  opacity: 0.3;
}
.testi-items blockquote:after {
  content: "\201d";
  right: 0;
  top: -20px;
  display: block;
  font-size: 100px;
  position: absolute;
  height: 80px;
  line-height: 1;
  opacity: 0.3;
}
.testimonials {
  margin: 40px -15px;
}
.client-name {
  font-weight: 800;
}
#testimonials-container .container {
  padding: 45px 15px;
}
/* ======================== */
/* Promo content Section */
/* ======================== */

.promo-container h3 {
  color: inherit;
}
.promo-container .base-btn {
  float: right;
}

.base-btn {
  background: #040404 none repeat scroll 0 0;
  border-radius: 10px;
  color: #fff !important;
  font-size: 25px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  padding: 17px 45px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.base-btn:after {
  position: absolute;
  bottom: 0;
  width: 0%;
  content: "";
  background: #fff;
  height: 2px;
  left: 0;
  transition: all 0.3s;
}
.base-btn:hover {
  color: #fff;
}
.base-btn:hover:after {
  width: 100%;
}
[data-bg="white"] .base-btn {
  background: none;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0 0;
  padding: 10px 25px;
  color: #000 !important;
}
[data-bg="black"] .base-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0 0;
  padding: 10px 25px;
}
[data-bg="white"] .base-btn:hover {
  color: #2154cf !important;
  border: 1px solid #2154cf;
}
.contact-btn {
  display: inline-block;
  font-size: 22px;
  padding: 13px 35px;
}
.view-btn {
  border-radius: 4px;
  font-size: 13px;
  margin: 10px 6px 0 0;
  padding: 4px 10px;
}

.w-item {
  margin: 35px 0 0;
  padding-left: 90px;
  position: relative;
}
.w-item .service-icon {
  height: 60px;
  left: 0;
  position: absolute;
  width: 64px;
  overflow: hidden;
}
.w-item .service-icon.fa-icon {
  font-size: 3.8em;
  text-align: center;
}
.w-item h5 {
  font-weight: 600;
  text-transform: uppercase;
}
.w-item p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.w-item a {
  color: #444 !important;
}
.no-margin {
  margin: 0;
}

#services-container .section-title {
  margin: 0 0 40px;
}

/* ======================== */
/* Custom Posts Section */
/* ======================== */

#custom-posts-section {
  position: relative;
  z-index: 2;
}
#custom-posts-section .container {
  padding: 45px 15px;
}
#custom-posts-section .section-title {
  font-size: 32px;
}

/* ======================== */
/* Book Order Section */
/* ======================== */

#book-order-section {
  background: #d8dde6;
  position: relative;
  z-index: 2;
}
#book-order-section .container {
  padding: 45px 15px 0;
}
#book-order-section .section-title {
  font-size: 41px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin: 0 0 23px;
}
#book-order-section .section-title:before {
  display: none;
}

.episode {
  background: red none repeat scroll 0 0;
  color: #fff;
  display: table;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin: 0 0 10px;
  padding: 3px 10px;
}
.podcast-details span {
  clear: both;
  float: left;
  width: 100%;
}
.speaker span,
.topic span {
  clear: none;
  display: inline-block;
  float: none;
  width: auto;
  font-size: 16px;
}
#latest-podcast .speaker span,
#latest-podcast .topic span {
  font-size: 18px;
}
h3.blog-item-title {
  font-size: 16px;
  line-height: 18px;
}
.podcast-excerpt > p {
  color: #444;
  font-size: 14px;
  margin: 5px 0 0;
}
#latest-podcast .podcast-excerpt,
#single-podcast .podcast-excerpt {
  font-size: 15px;
  margin: 15px 0;
}
#latest-podcast .podcast-excerpt p,
#single-podcast .podcast-excerpt p {
  font-size: inherit;
}
.blog-item-excerpt {
  font-size: 14px;
  margin: 5px 0 0;
}

/* ======================== */
/* Home Extras Section */
/* ======================== */

#home-extras-section {
  position: relative;
  z-index: 2;
}

#home-extras-section .container {
  padding: 45px 15px;
}
#home-extras-section .container .section-title {
  font-size: 30px;
}

/* Social Icons */
.mom-social-icons li {
  margin: 0 0px 0 10px;
}
.mom-social-icons li a {
  display: block;
  line-height: 10px;
  padding: 10px;
  text-align: center;
  width: 42px;
  font-size: 2rem;
}

.mom-social-icons li.facebook a {
  background: #2c6ea9;
}
.mom-social-icons li.twitter a {
  background: #3687d1;
}
.mom-social-icons li.linkedin a {
  background: #2c6ea9;
}
.mom-social-icons li.gplus a {
  background: #ef320e;
}
.mom-social-icons li.youtube a {
  background: #ef320e;
}
.mom-social-icons li.pinterest a {
  background: #b82407;
}
.mom-social-icons li a:hover {
  color: #000;
  background: #fff;
}

/* ======================== */
/* Secondary Menu */
/* ======================== */

.primary-nav ul li ul {
  float: left;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 30%;
  visibility: hidden;
  z-index: 99;
  width: 225px;
  margin: 0;
  padding: 5px 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.primary-nav ul li:hover ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
  background: #004285;
  width: 225px;
  overflow: hidden;
}
.primary-nav ul li ul li {
  display: table;
  float: none;
  width: 100%;
  margin: 0;
  line-height: 2.2 !important;
  padding: 0;
}
.primary-nav ul li ul a {
  display: inline-block;
  float: none;
  width: 100%;
  border: 0;
  text-align: left;
  height: auto;
  line-height: 23px;
  padding: 10px 15px;
  font-size: 15px;
}
.primary-nav ul li ul a:hover {
  color: #fff;
}
.primary-nav ul li ul a:hover:before {
  display: none;
}
.primary-nav ul li > ul a:after {
  background: #fff !important;
  height: 2px !important;
}
/* =================== */
/* ==== Inner Page CSS */
/* =================== */

#page-title {
  background: rgba(0, 0, 0, 0) url("../images/digital_marketing_analysis.png")
    no-repeat scroll center center / cover;
  height: auto;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
#page-title::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-color: rgba(47, 101, 181, 0.9);
}
#page-title.podcast-cat-title {
  background: rgba(0, 0, 0, 0) url("../images/backgrounds/podcast_img.jpg")
    no-repeat scroll 0 center / cover;
}
#page-title.webinars-cat-title {
  background: rgba(0, 0, 0, 0) url("../images/backgrounds/webinars_bg.jpg")
    no-repeat scroll 0 center / cover;
}
#page-title.ebooks-cat-title {
  background: rgba(0, 0, 0, 0) url("../images/backgrounds/ebooks_img.jpg")
    no-repeat scroll 0 bottom / cover;
}
#page-title.podcast-cat-title::before,
#page-title.webinars-cat-title::before,
#page-title.ebooks-cat-title::before {
  background-color: rgba(0, 0, 0, 0.4);
}
#page-title h1 {
  color: #fff;
  font-weight: 300;
}
#page-title.podcast-cat-title h1,
#page-title.webinars-cat-title h1,
#page-title.ebooks-cat-title h1 {
  font-size: 48px;
}
#page-title .container {
  padding: 45px 15px;
}
#page-title.podcast-cat-title .container,
#page-title.webinars-cat-title .container,
#page-title.ebooks-cat-title .container {
  padding: 100px 15px;
}
#page-container .main ul {
  margin: 0 0 20px;
}
#page-container .container {
  padding: 45px 15px;
}
#page-container .main {
  min-height: 400px;
}
.main p {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 20px;
}

/* Archive page */

.post-thumbnail-block a {
  position: relative;
  display: block;
  overflow: hidden;
}
.post-thumbnail-block a:before {
  content: "\f0c1";
  left: 50%;
  top: -10%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  color: #fff;
  font-size: 40px;
  z-index: 98;
  opacity: 0;
  transition: all 0.3s ease;
  font-family: FontAwesome;
  text-align: center;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
}
.post-thumbnail-block a:hover:before {
  top: 50%;
  opacity: 1;
}
.post-thumbnail-block a:after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(33, 84, 207, 0.7);
  z-index: 97;
  opacity: 0;
  transition: all 0.3s ease;
}
.post-thumbnail-block a:hover:after {
  opacity: 1;
}
.row.comments-section {
  margin: 20px -15px 0;
}

.post-thumbnail-block img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
  height: auto;
}
.post-thumbnail-block a:hover img {
  -webkit-transform: scale(1.1) rotate(-25deg);
  -ms-transform: scale(1.1) rotate(-2deg);
  transform: scale(1.1) rotate(-2deg);
}

.post-item .post-info {
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 10px #cccccc;
}
.post-item {
  margin: 0 0 50px;
}

/* Archive page Numeric Navigation */

.cs_navigation {
  display: table;
  margin: 0 0 50px;
  width: 100%;
}
.cs_navigation ul {
  display: table;
  margin: 0;
  width: 100%;
  padding: 0;
}
.cs_navigation li a,
.cs_navigation li a:hover,
.cs_navigation li.active a,
.cs_navigation li.disabled {
  color: #fff;
  text-decoration: none;
}

.cs_navigation li {
  display: inline;
  margin: 0 5px 0 0;
}

.cs_navigation li a,
.cs_navigation li a:hover,
.cs_navigation li.active a,
.cs_navigation li.disabled {
  background-color: rgba(47, 101, 181, 1);
  border-radius: 0;
  cursor: pointer;
  font-weight: 700;
  padding: 12px 21px;
}

.cs_navigation li a:hover,
.cs_navigation li.active a {
  background-color: #002340;
}

/* Breadcrumb CSS */

.breadcrumb {
  background: none;
}
.breadcrumb li a {
  color: #444;
  font-size: 16px;
  font-weight: 300;
}
.breadcrumb li.home a {
  font-weight: 600;
}
.feature-post-cont {
  position: static;
}
.feature-post-inner {
  position: relative;
  color: #fff;
  margin: 170px 0 0;
  position: relative;
  width: 100%;
}
.feature-first-post {
  position: static;
}
.feature-post-cont .thumbnail-bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.feature-post-cont .thumbnail-bg::before {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.featured-tag {
  background: red none repeat scroll 0 0;
  float: left;
  font-size: 15px;
  line-height: 1;
  padding: 5px 13px;
}
.feature-post-inner .feature-title {
  float: left;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  text-align: left;
  width: 100%;
}
.feature-post-inner .feature-title a {
  color: #fff;
}
.feature-post-inner .feature-excerpt {
  color: #bababa;
  float: left;
  font-size: 15px;
  text-align: left;
  width: 100%;
}

.feature-posts .feature-post-inner {
  margin: 0;
}
.feature-post-item .feature-post-inner {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  float: left;
  padding: 54px 40px;
  width: 100%;
}
.feature-post-item:first-child {
  margin-bottom: 2px;
}

#latest-podcast {
  background: #e4e4e4;
}
#latest-podcast .container,
#popular-podcast .container,
#upcoming-webinars .container {
  padding: 45px 15px;
}
#latest-podcast .section-title,
#popular-podcast .section-title,
#form-podcast .section-title,
#upcoming-webinars .section-title {
  display: table;
  margin: 0 auto 44px;
  width: auto;
  padding: 0 15px;
}
#latest-podcast .section-title::before,
#popular-podcast .section-title::before,
#form-podcast .section-title::before,
#upcoming-webinars .section-title::before {
  width: 100%;
}

.podcast-tags > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.podcast-tags > ul li {
  float: left;
  margin: 0 10px 0 0;
  overflow: hidden;
}
.podcast-tags > ul li a {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 4px 8px;
  position: relative;
  z-index: 1;
}
.podcast-tags > ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #000;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.podcast-tags > ul li a:after {
  position: absolute;
  content: "";
  left: -100px;
  top: 0;
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.podcast-tags > ul li a:hover:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: red;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
}
.podcast-action .btn {
  border-radius: 5px;
  font-size: 20px;
  margin: 15px 0;
  padding: 12px 53px;
}
.podcast-item .cpt-img-block {
  position: relative;
  overflow: hidden;
}
.podcast-item .cpt-img-block a {
  position: relative;
  display: block;
}
.podcast-item .cpt-img-block a:before {
  content: "\f130";
  left: 50%;
  top: -10%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  color: #fff;
  font-size: 40px;
  z-index: 98;
  opacity: 0;
  transition: all 0.3s ease;
  font-family: FontAwesome;
  text-align: center;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
}
.podcast-item .cpt-img-block a:hover:before {
  top: 50%;
  opacity: 1;
}
.podcast-item .cpt-img-block a:after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  z-index: 97;
  opacity: 0;
  transition: all 0.3s ease;
}
.podcast-item .cpt-img-block a:hover:after {
  opacity: 1;
}
.podcast-item .cpt-img-block .episode {
  bottom: 0;
  margin: 0;
  position: absolute;
  right: 0px;
  background: none;
  padding: 0;
}
.episode-cont {
  float: left;
  height: 140px;
  padding: 76px 9px 0 0;
  position: relative;
  text-align: right;
  width: 150px;
  z-index: 1;
}
.episode-cont:before {
  position: absolute;
  left: 0;
  top: 74px;
  width: 100%;
  height: 100%;
  content: "";
  background: red;
  z-index: -1;
  transform: skewY(-402deg);
}
.episode-cont strong {
  font-size: 37px;
  line-height: 1.2;
}
.published-date {
  color: #444;
  font-size: 14px;
  font-weight: 200;
  margin: 0 0 5px;
}
#popular-podcast .podcast-item .cpt-img-block {
  margin: 0 0 30px;
}
.more-btn {
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 42px;
  margin: 26px 0 0;
  padding: 0 20px;
}

#load-more.base-btn {
  background: #000 !important;
}

#single-podcast .container {
  padding: 45px 15px;
}
.podcast-item iframe {
  width: 100% !important;
  height: 160px !important;
  margin: 20px 0 0;
}

#single-podcast .topic span {
  font-size: 26px;
  line-height: 1;
  margin: 0 0 15px;
}
#single-podcast .speaker {
  clear: none;
  float: left;
  font-size: 14px;
  font-weight: 200;
  width: auto;
  margin: 0 5px 0 0;
}
#single-podcast .published-date {
  clear: none;
  float: left;
  width: auto;
}
#form-podcast {
  background: #444 none repeat scroll 0 0;
  color: #fff;
}
#form-podcast .container {
  padding: 45px 15px;
}
#form-podcast .section-title {
  color: #fff;
}
#form-podcast h3 {
  color: #fff;
  font-weight: 700;
  margin: 0 0 20px;
}
.why-podcast-block p,
.why-podcast-block ul li {
  font-size: 16px;
  font-weight: 200;
}
.why-podcast-block:before {
  background: rgba(0, 0, 0, 0) url("../images/podcast-mic.png") no-repeat scroll
    0 0 / 100% auto;
  content: "";
  height: 362px;
  left: -193px;
  opacity: 0.03;
  position: absolute;
  top: -10px;
  width: 200px;
  z-index: 0;
}

/* Mega Menu CSS */
.primary-nav .mega-menu {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.primary-nav .mega-menu li {
  float: left;
  line-height: 5.2;
}
.primary-nav .mega-menu li a {
  display: table;
  width: 100%;
  height: 100%;
  color: #7065aa;
  padding: 0 15px;
  font-weight: 400;
  outline: 0;
  position: relative;
  font-size: 15px;
}
.primary-nav .mega-menu li a:hover {
  background: #f0eff4;
  color: #4a417d;
}
.primary-nav .mega-menu li .sub-menu-items {
  background: #f0eff4 none repeat scroll 0 0;
  box-shadow: -2px 12px 16px 2px rgba(0, 0, 0, 0.25);
  height: auto;
  left: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 99%;
  width: 100%;
  z-index: 700;
  padding: 52px 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.primary-nav .mega-menu li:hover .sub-menu-items {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}
.primary-nav .mega-menu li:hover > a {
  background: #f0eff4;
  color: #4a417d;
}

.sub-menu-cont {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}
.megamenu-widget-item {
  float: left;
  line-height: 1.5;
  width: 33.33%;
  font-size: 14px;
  font-weight: 300;
}
.megamenu-widgettitle {
  color: #463f83;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
}
.megamenu-widget-text-12 {
  width: 67%;
  margin-right: 3% !important;
}
.megamenu-widget-item .base-btn {
  background: #000 !important;
  border-radius: 4px !important;
  float: left !important;
  padding: 5px 20px 7px !important;
  width: auto !important;
  margin: 15px 0 0;
}
.megamenu-widget-nav_menu-4 {
  width: 30%;
}
#menu-about-us-sub-menu {
  float: right;
  list-style-type: none;
  margin: 40px 0 0;
  padding: 0;
  width: 90%;
}
#menu-about-us-sub-menu li {
  clear: both;
  float: left;
  line-height: 1.5;
  width: 100%;
}
#menu-about-us-sub-menu li a {
  background: #463f83 none repeat scroll 0 0;
  color: #fff;
  margin: 0 0 10px;
  padding: 9px 35px;
  text-align: center;
}
#menu-about-us-sub-menu li a:hover {
  background: #444;
}

#podcasts_widget-3 {
  width: 40%;
  margin-right: 15px;
}
.podcast_firstpost_widget {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
}
.podcast_firstpost_widget > li {
  float: left;
  width: 100%;
}
.podcast-thumbnail {
  position: relative;
  width: 100%;
}
.podcast-thumbnail a {
  padding: 0 !important;
}
.podcast-title a,
.webinar-title a {
  background: #463f83 !important;
  border-radius: 0 0 5px 5px;
  color: #fff !important;
  font-size: 15px !important;
  line-height: 1.3;
  margin: 0;
  padding: 10px !important;
  text-align: center;
}
.podcast_widget {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 48%;
}
.podcast_widget > li {
  float: left;
  margin: 0 0 10px;
  width: 100%;
  background: #463f83;
}
.podcast_widget .podcast-thumbnail {
  float: left;
  width: 40%;
}
.podcast_widget .podcast-title {
  clear: none;
  float: left;
  width: 60%;
}
.podcast_widget .podcast-title a {
  background: none !important;
  border-radius: 0 !important;
  font-size: 13px !important;
}
#mega-submenu-51 .base-btn {
  clear: both;
  float: right;
}
.webinars_widget {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.webinars_widget a {
  padding: 0 !important;
}
.webinar-thumbnail {
  height: 104px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.webinar-thumbnail > a {
  height: 104px !important;
  width: 100% !important;
  float: left !important;
}
.webinar-thumbnail a:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  content: "";
}
.webinar-thumbnail img {
  width: 100%;
  height: auto;
}
.webinar-thumbnail .fa {
  color: #fff;
  font-size: 45px;
  height: 46px;
  left: 50%;
  margin-left: -23px;
  margin-top: -23px;
  position: absolute;
  top: 50%;
  width: 46px;
}
.webinar-title a {
  padding: 8px 20px 10px !important;
}
#webinars_widget-2 {
  width: 22% !important;
}

#pdf_widget-2 {
  margin-left: 15px;
  width: 34%;
}

.pdf_widget {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pdf_widget li {
  width: 100%;
  height: auto;
  float: left;
}
.pdf_widget .pdf-thumbnail > a {
  padding: 0 !important;
}
.pdf_widget-cont {
  float: left;
  margin: 0 0 0 15px;
  width: 46.5%;
}
.pdf_widget-cont:first-child {
  margin-left: 0;
}
.pdf_widget-cont h3 > a {
  padding: 7px 15px !important;
}
#blogs_widget-3 {
  margin: 0;
  width: 100%;
}
.blog_widget_single,
.blog_widget_list {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
}
.blog_widget_list {
  width: 70%;
}
.blog_widget_single a,
.blog_widget_list a {
  padding: 0 !important;
}
.white-box {
  background: #ffffff;
  box-sizing: border-box;
  color: #524a83;
  display: block;
  min-height: 133px;
  padding: 20px 22px 15px;
  position: relative;
}
.white-box h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.25em;
  margin: 0;
  padding-bottom: 10px;
  text-align: left;
}
.white-box span {
  bottom: 15px;
  color: #524a83;
  font-size: 12px;
  left: 22px;
  line-height: normal;
  padding: 0;
  position: absolute;
  text-decoration: underline;
}
.blog_widget_list li {
  float: left;
  margin: 0 0 2% 2%;
  width: 48%;
}
.blog_widget_list .white-box {
  min-height: 144px;
}
#blogs_widget-3 .base-btn {
  clear: both;
  float: right !important;
}
.post-type-archive-webinars .podcast-item .cpt-img-block {
  height: 203px;
  margin: 0 0 15px !important;
}

.webinar-title-block {
  background: #000 none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
}
.post-type-archive-webinars .podcast-item .cpt-img-block a:before {
  content: "\f01d";
  font-size: 58px;
  line-height: 1;
  opacity: 1;
  padding: 0;
  top: 50%;
  background: none;
  border: 0;
}
.post-type-archive-webinars .podcast-item .cpt-img-block a:hover:before {
  color: red;
}
.post-type-archive-webinars .podcast-item .cpt-img-block a:after {
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.upcoming-webinars-popular .cpt-img-block a:after {
  background: rgba(0, 0, 0, 0.4);
  opacity: 0 !important;
}
.upcoming-webinars-popular .cpt-img-block a:hover:after {
  opacity: 1 !important;
}
.upcoming-webinars-popular .cpt-img-block a:before {
  opacity: 0;
  top: -10% !important;
}
.post-type-archive-webinars .podcast-item .cpt-img-block a:hover:before {
  color: red;
  opacity: 1;
  top: 50% !important;
}

.post-type-archive-webinars .cpt-img-block img {
  height: 203px;
}
.post-type-archive-webinars .podcast-items-popular a.base-btn {
  border-radius: 4px;
  display: table;
  font-size: 17px;
  margin: 0 auto 40px;
  padding: 6px 20px;
}
.upcoming-webinars-popular .episode-cont {
  padding: 65px 9px 0 0;
}
#upcoming-webinars {
  background: #e3e3e3;
}
.upcoming-webinars-popular {
  text-align: center;
}
.upcoming-webinars-popular .podcast-item {
  display: inline-block;
  float: none;
}
.upcoming-webinars-popular .episode-cont strong {
  font-size: 30px;
}

.post-type-archive-whitepapers #latest-podcast .topic span,
.post-type-archive-ebook #latest-podcast .topic span {
  font-size: 26px;
}

.post-type-archive-whitepapers .podcast-item .cpt-img-block a:before,
.post-type-archive-ebook .podcast-item .cpt-img-block a:before {
  content: "\f1c1";
}
.podcast-excerpt p,
.webinar-desc p {
  font-weight: 300;
  margin: 0 0 20px;
}
.ebook-action .btn {
  margin: 0;
}
.webinar-desc ul {
  margin: 0 0 20px;
  padding: 0 0 0 25px;
}
.webinar-title h2 {
  display: table;
  font-weight: 200;
  margin: 0 auto 40px;
  position: relative;
  width: auto;
}
.webinar-title h2:after {
  position: absolute;
  width: 50%;
  height: 3px;
  background: red;
  content: "";
  left: 50%;
  bottom: -15px;
  margin-left: -25%;
}
.single-webinars #page-title .container {
  padding: 55px 15px;
}
#speaker-details {
  background: #000;
}
#speaker-details .container {
  padding: 35px 15px;
}
#webinar-video-cont .container {
  padding: 45px 15px;
}
.speaker-img img {
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  height: auto;
  width: auto;
}
.speaker-details h3 {
  color: #ccc;
  font-size: 24px;
  font-weight: 500;
}
.speaker-desc p {
  color: #8e8e8e;
  font-size: 15px;
}
#speaker-details .webinar-title h2 {
  color: #fff;
}
.webinars-popular .webinar-title-block {
  font-size: 14px;
}
.webinars-popular .cpt-img-block {
  height: 148px;
}
.webinars-popular .cpt-img-block img {
  height: 148px;
}

.single-webinars .podcast-item .cpt-img-block a:before {
  content: "\f01d";
  padding: 0;
  border: 0;
  background: none;
}
.webinars-popular .base-btn {
  border-radius: 4px;
  display: table;
  font-size: 17px;
  margin: 0 auto;
  padding: 6px 18px;
}

#service-list-container .container {
  padding: 65px 15px;
}
#service-list-container {
  background: rgba(47, 101, 181, 1);
}
#service-list-container .sub-title {
  font-size: 13px;
  margin: 0 auto 40px;
  max-width: 60%;
  color: #ccc;
}
#service-list-container .base-title {
  color: #ccc;
}
#service-list-container .w-item h5,
#service-list-container .w-item a,
#service-list-container .w-item p {
  color: #fff;
}

/* New Header Style */

#header-section {
  height: 580px;
  position: relative;
  z-index: 9;
  overflow: hidden;
}
#header-section:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
#main-header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  background: none;
  padding: 25px 0 0;
  transform: translate3d(0px, 0px, 0px); 
}
#main-header.shrink {
  padding: 5px 0 0;
  background: #444;
}
#main-header.shrink .branding {
  margin-top: 10px;
}
.primary-nav .mega-menu li a {
  color: #fff;
}
.primary-nav .mega-menu li {
  line-height: 3.8;
}
#main-header.shrink .branding img {
  margin-top: 0;
  max-width: 70%;
}
#header-bg-section {
  height: 100%;
}
#header-txt-section {
  bottom: 120px;
  position: absolute;
  color: #fff;
  z-index: 11;
}
#header-txt-section h1 {
  color: inherit;
  font-size: 39px;
  font-weight: 300;
  margin: 0 0 15px;
}
#header-txt-section p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.3;
  margin: 0 0 15px;
}
#header-txt-section .base-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0 0;
  padding: 10px 25px;
}
#header-txt-section .base-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header-page {
  height: 100% !important;
}
.header-no-top {
  height: 80px !important;
}
#page-container {
  position: relative;
  z-index: 11;
}
.single-title {
  color: #3e3e3e;
  font-size: 42px;
  font-weight: 300;
  line-height: 46px;
  margin: 0 0 25px;
}
#main-header-notop {
  background: #444;
  padding: 10px 0 0;
  position: fixed;
  z-index: 99;
}
.top-padding-120 .container {
  padding-top: 100px !important;
}
.entry-content {
  margin: 0 !important;
}

.archive .post-title a {
  color: #444;
  font-size: 18px;
  font-weight: 600;
}

.ngg-galleryoverview {
  margin: 0 !important;
}
.ngg-galleryoverview .slideshowlink {
  display: none;
}
.ngg-galleryoverview .ngg-gallery-thumbnail-box {
  width: 20%;
}

#home-extras-section .widget_text.row {
  margin: 0 -15px;
}

#contact-form-section {
  position: relative;
  margin: 40px 0 0;
}

#contact-form-section .fld {
  float: left;
  margin: 0 0 15px;
  width: 25%;
}
#contact-form-section input[type="text"],
#contact-form-section input[type="email"],
#contact-form-section input[type="tel"] {
  float: left;
  height: 42px;
  margin: 0;
  padding: 8px 15px;
  width: 94%;
  border: 1px solid #ccc;
}
#contact-form-section .fld.msg-fld {
  width: 99%;
}
#contact-form-section::before {
  background: #ededed;
  content: "";
  height: 1500px;
  left: -500px;
  position: absolute;
  top: -40px;
  width: 200%;
  z-index: 0;
}
#contact-form-section textarea {
  height: 160px;
  padding: 20px;
  width: 99.5%;
  border: 1px solid #ccc;
}
.page-contact-us #page-container {
  overflow: hidden;
}

#contact-form-section input[type="submit"] {
  background: #000 none repeat scroll 0 0;
  height: 47px;
  position: relative;
  width: 150px;
}
#contact-form-section .ajax-loader {
  position: relative;
}
.wpcf7-not-valid-tip {
  display: table !important;
  font-size: 12px !important;
  font-weight: 200 !important;
  margin: 5px 0 0 !important;
}
.wpcf7-response-output {
  border: 0 none !important;
  color: #fff;
  font-size: 13px;
  margin: 0 0 15px !important;
  position: relative;
  width: 98.5%;
}
.wpcf7-validation-errors {
  background: red;
}
.wpcf7-mail-sent-ok {
  background: green;
}
.wpcf7-form-control-wrap {
  display: block;
}
.page-contact-us .main p {
  font-size: 18px;
  margin: 20px 15px 50px;
}

#newsletter-section {
  background: #eee none repeat scroll 0 0;
  text-align: center;
}
#newsletter-section .container {
  padding: 70px 15px;
}
#newsletter-section h1.title {
  font-weight: 300;
  margin: 0 0 10px;
}
#newsletter-section h3 {
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 20px;
}
#newsletter-section .sib-email-area {
  display: table;
  float: none;
  margin: 0 auto;
  width: 70%;
}
#newsletter-section input.sib-email-area {
  border: 1px solid #bfbfbf;
  padding: 8px 20px;
  width: 80%;
  float: left;
}
#newsletter-section input.sib-default-btn {
  background: #000 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  font-size: 20px;
  height: 41px;
  width: 18%;
  float: right;
  transition: all 0.3s;
}
#newsletter-section input.sib-default-btn:hover {
  background: red;
}
.menu-services-menu-container li {
  width: 48%;
  float: left;
}
.menu-footer-important-links-container li {
  float: left;
  line-height: 13px;
  margin-bottom: 7px;
  margin-right: 10px;
  width: 30%;
}
#footer-bottom {
  background: #444 none repeat scroll 0 0;
}
#footer-bottom .container {
  padding: 15px;
}
.copyright-bock p {
  color: #ccc;
  font-size: 14px;
  line-height: 2.8;
  margin: 0;
}
#footer-bottom .mom-social-icons {
  float: right;
}

.sidebar #newsletter-section p {
  display: none;
}
.sidebar #newsletter-section {
  padding: 20px 15px;
}
.sidebar #newsletter-section h1.title {
  font-size: 24px;
  line-height: 1;
  margin: 0 0 15px;
}
.sidebar #newsletter-section .sib-email-area {
  width: 100%;
}
.sidebar #newsletter-section input.sib-email-area {
  width: 75% !important;
}
.sidebar #newsletter-section input.sib-default-btn {
  width: 25% !important;
}

footer #newsletter-section {
  background: none;
  text-align: left;
}
footer #newsletter-section h1.title {
  display: none;
}
footer #newsletter-section .sib-email-area {
  width: 100% !important;
}
footer #newsletter-section input.sib-email-area {
  width: 80% !important;
}

.megamenu-widget-text-11 {
  width: 100%;
}
.megamenu-widget-text-11 .w-item {
  margin: 5px 0 0;
}

#single-podcast {
  overflow: hidden;
}

#download-form-section {
  background: #444 none repeat scroll 0 0;
  min-height: 400px;
  padding: 40px 20px 0;
  position: relative;
}
#download-form-section h2 {
  border-bottom: 1px dotted #fff;
  font-size: 27px;
  font-weight: 300;
  margin: 0 0 16px;
  padding: 0 0 5px;
  text-align: left;
  color: #fff;
  position: relative;
}
#download-form-section p {
  color: #fff;
  position: relative;
  font-size: 16px;
  font-weight: 200;
}
#download-form-section input[type="text"],
#download-form-section input[type="email"] {
  padding: 8px 20px;
  width: 100%;
}
#download-form-section .fld {
  margin: 0 0 15px;
}
#download-form-section .wpcf7-submit {
  height: 45px;
  margin-top: -21px;
  width: 100%;
}
#menu-ham {
  position: fixed;
  right: 0;
  top: 15px;
  z-index: 9999;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #fff;
  width: 30px;
}

#mobile-nav {
  opacity: 0;
  right: -1800px;
  background: rgba(0, 0, 0, 0.9);
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.3s;
}
#mobile-nav.is-active {
  right: 0;
  opacity: 1;
}

.thankyou-page-container p {
  font-size: 25px;
  margin: 30px 0 0;
  text-align: center;
}
.thankyou-page-container .main {
  min-height: 40px !important;
}

#media_image-3 {
  float: right;
  width: 25%;
}

#book-order-section .bookorder-btn {
  border-radius: 5px;
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 100%;
  padding: 10px 25px;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #e7e7e7;
  border-radius: inherit;
  box-shadow: inherit;
  min-height: 50px;
}
.contact-form .form-group {
  padding: 0 15px;
}
.contact-form input[type="submit"] {
  background: #0a2134;
  color: #ffffff;
  display: inline-block;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: auto;
  font-size: 20px;
  padding: 12px 30px;
}
.contact-form input[type="submit"]:hover {
  background: #2154cf;
}

/* FAQ container */
#faq-collapsible .panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}
#faq-collapsible .panel-heading {
  background: #fff;
  border-bottom: 0;
  border-radius: 0;
  padding: 0;
}
#faq-collapsible .panel-heading a {
  background: #ffffff none repeat scroll 0 0;
  display: block;
  font-weight: 600;
  padding: 20px;
  position: relative;
}
#faq-collapsible .panel-heading a.collapsed:after {
  content: "\f105";
  font-family: "FontAwesome";
  font-weight: 900;
}
#faq-collapsible .panel-heading a:after {
  content: "\f107";
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 17px;
  font-family: "FontAwesome";
  font-weight: 900;
}

/* Partners container */
#partners-container {
  background: url(../images/partner-wrapper-bg.jpg) no-repeat;
  background-size: cover;
}
.partner-item .partner-logo {
  display: flex;
  width: 100%;
  min-height: 15rem;
  vertical-align: middle;
  text-align: center;
  background: #fff;
  margin: 0 0 20px;
  align-items: center;
  box-shadow: 0 5px 30px rgba(105, 106, 119, 0.05);
}
.partner-item .partner-logo img {
  display: block;
  margin: 0 auto;
}

/* Blog container */
.blog-img {
  height: 200px;
}
.blog-img img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
  height: auto;
}
.blog-items:hover .blog-img img {
  -webkit-transform: scale(1.1) rotate(-25deg);
  -ms-transform: scale(1.1) rotate(-2deg);
  transform: scale(1.1) rotate(-2deg);
}
.blog-items {
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.blog-content {
  background-color: #fff;
  position: relative;
  padding: 0 20px 20px;
}
.blog-content h5 {
  line-height: 25px;
  padding-top: 20px;
}
.blog-content h5 a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-content h5:hover a {
  color: #0c65ed;
}
.blog-meta {
  padding: 15px 0 13px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
  position: relative;
}
.blog-meta {
  padding: 15px 0 13px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
  position: relative;
}
.blog-meta::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  background-color: #0c65ed;
  height: 2px;
  width: 85px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.blog-items:hover .blog-meta::after {
  width: 100%;
}
.blog-meta a {
  color: #858585;
  font-size: 12px;
  padding: 0 10px 0 15px;
  text-transform: capitalize;
  border-right: 1px solid #858585;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}
.blog-meta a i {
  margin-right: 5px;
}
.blog-meta a:first-child {
  padding-left: 0;
}
.blog-meta a:last-child {
  border-right: 0;
}
.blog-meta a:hover {
  color: #0c65ed;
}
.btn-blog {
  color: #1a1a1a;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 20px;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-blog:hover i {
  padding-left: 15px;
}
.btn-blog i {
  font-size: 18px;
  position: absolute;
  padding-left: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* About container */
#about-container .col-md-6 {
  display: table-cell;
  float: none;
  padding: 0;
}
#about-container .info-cont {
  padding: 80px;
}

/* footer container */
footer .f-item h4 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
footer .f-item p {
  color: #837f7e;
  font-size: 14px;
}
footer .f-item .address {
  margin-top: 30px;
}
footer .f-item .address ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .f-item .address li {
  display: block;
  margin-bottom: 10px;
  line-height: 1.9rem;
  font-weight: 300;
}
footer .f-item .address li .fa {
  color: #0c65ed;
  display: table-cell;
  font-size: 20px;
  vertical-align: middle;
  width: 40px;
}
footer .f-item .address li span {
  color: #837f7e;
  display: table-cell;
  vertical-align: middle;
}
.footer-branding {
  width: 200px;
  margin: 0 0 20px;
}

footer .widget__title {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 2.8rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 1.2rem;
  margin: 15px 0 20px;
  color: inherit;
}
footer .widget__title:before {
  position: absolute;
  content: "";
  height: 3px;
  width: 50px;
  background: #fff;
  bottom: 0;
}
.f-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.f-item ul li {
  line-height: 3.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.f-item ul li a {
  color: #5a6671;
}
footer .widget-cont {
  margin: 0 auto;
  display: table;
  width: auto;
}
footer .copyright p {
  line-height: 4rem;
  color: #5a6671;
  font-size: 1.5rem;
}

/* Sidebar CSS */
.sidebar {
  padding-left: 35px;
}
.sidebar .widget h2 {
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
  text-transform: capitalize !important;
  z-index: 1;
  font-size: 18px;
}
.sidebar .widget h2:after {
  background: #2154cf none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 50px;
}
.sidebar .widget {
  margin-bottom: 50px;
}
.sidebar .widget .search-form .screen-reader-text {
  display: none;
}
.sidebar .widget .search-form label {
  width: 75%;
}
.sidebar .widget .search-form {
  position: relative;
}
.sidebar .widget .search-form input[type="search"] {
  border: 1px solid #e7e7e7;
  border-radius: inherit;
  box-shadow: inherit;
  width: 100%;
  height: 50px;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
}
.sidebar .widget .search-form .search-submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  padding: 10px 0px;
  background: #000;
  border: 0;
  color: #fff;
  font-size: 16px;
  width: 25%;
}
.sidebar .widget ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar .widget ul li {
  display: block;
}
.sidebar .widget ul li a {
  display: block;
  font-weight: 600;
  padding: 10px 0 10px 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
  display: inline-block;
  color: #666666;
}
.sidebar .widget ul li a::after {
  border: 1px solid #666666;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 0;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 8px;
}
.sidebar .widget_recent_entries li {
  padding: 5px 0 15px;
  border-top: 1px solid #f4f4f4;
}
.sidebar .widget_recent_entries li:first-child {
  padding-top: 0;
  border-top: 0;
}
.sidebar .widget_recent_entries li a {
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 5px;
}
.sidebar .widget_recent_entries li .post-date {
  padding: 3px 8px 4px;
  background: #2154cf;
  color: #fff;
  font-size: 13px;
  display: table;
  clear: both;
  width: auto;
}
.sidebar .widget_recent_entries li a:after {
  display: none;
}

/* comments container */
.comments-title {
  font-size: 17px;
  font-weight: 700;
  margin: 0 0 30px;
}
.comment-respond {
  background: #fff;
  padding: 20px;
  border: 1px solid #e4e4e4;
}
.comment-notes {
  font-size: 11px !important;
}
.comment-notes #email-notes {
  margin-right: 15px;
}
.comment-notes .required {
  color: red;
  font-size: 14px;
}
.comment-respond label {
  width: 100%;
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  color: #a4a4a4;
}
.comment-respond textarea,
.comment-respond input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #e4e4e4;
  font-size: 15px;
}
.form-submit input[type="submit"] {
  background: #0a2134;
  color: #ffffff;
  display: inline-block;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: auto;
  font-size: 20px;
  padding: 12px 30px;
  border: 0;
}
.form-submit input[type="submit"]:hover {
  background: #2154cf;
}
.comment-list,
.comments-area ul,
.comments-area ol {
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;
}
.comment-list ol.children {
  margin-left: 40px;
}
.comment-list .comment-body {
  padding: 20px;
  position: relative;
  margin: 0 0 20px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.comment-body .reply {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  font-size: 11px;
  color: #444;
  font-weight: 600;
}
.comment-body .reply a {
  display: block;
  position: relative;
  color: inherit;
}
.comment-body .reply a:before {
  position: absolute;
  left: -16px;
  font-weight: 300;
  top: 0;
  content: "\f122";
  font-family: FontAwesome;
}
.comment-author .avatar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0 10px 10px 0;
}
.comment-metadata {
  position: absolute;
  top: -12px;
  left: 13px;
  padding: 6px 10px 4px;
  background: #2154cf;
  color: #fff;
  font-size: 11px;
}
.comment-metadata a {
  color: #fff;
}

/* Author Container */
.author-photo img {
  border-radius: 100%;
  border: 8px solid rgba(255, 255, 255, 0.4);
  position: relative;
}
.author-details-cont {
  margin: 0 0 70px;
  padding: 30px 40px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
}
.author-details-cont:before {
  right: 100%;
  top: 25%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-width: 19px;
  margin-top: -30px;
}
.author-details-cont h3 {
  color: #ccc;
  font-size: 24px;
  font-weight: 500;
}
.author-details-cont p {
  color: #ccc;
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0;
  line-height: 1.6;
}
/* 404 template */
.man_404 {
  font-size: 155px;
  font-weight: 700;
  line-height: 165px;
  margin: 50px 0 0;
}
.man_intro_cont h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 55px !important;
}
.man_intro_cont .base-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0 0;
  padding: 10px 25px;
}
/* ========================================= */
/* ========  RESPONSIVE STYLES   =========== */
/* ========================================= */

@media screen and (max-device-width: 992px) {
  .primary-nav {
    height: 100%;
  }
  #header-txt-section {
    top: 110px !important;
  }
  #mobile-nav ul {
    list-style-type: none;
    margin: 40px 0 0;
    padding: 0;
  }
  #mobile-nav ul li {
    line-height: 2.5;
    margin: 0;
    width: 100%;
    position: relative;
  }
  #mobile-nav ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
    height: 100%;
    position: relative;
    outline: 0 !important;
    padding: 0 20px;
  }
  #mobile-nav .sub-menu {
    background: red none repeat scroll 0 0;
    margin: 0;
    padding: 10px 0;
    display: none;
  }
  #contact-form-section .fld,
  #contact-form-section input[type="text"],
  #contact-form-section input[type="email"],
  #contact-form-section input[type="tel"] {
    width: 100%;
  }
  #contact-form-section::before {
    width: 500%;
  }
  .feature-post-item .feature-post-inner {
    margin: 0px 0 30px;
    padding: 0;
  }
  .feature-post-inner {
    margin: 200px 0 30px;
    display: table;
  }

  .bookorder-btn {
    font-size: 19px;
    margin: 20px 0;
    padding: 20px 15px;
    width: 100%;
  }
  .partner-item {
    width: 100%;
    margin: 15px 0;
  }
}
@media screen and (max-device-width: 980px) {
  .container {
    max-width: 96%;
    width: 100%;
  }
  #header-section {
    height: 100% !important;
  }
  footer .widget-cont {
    width: 100%;
  }
  #about-container .info-cont {
    padding: 25px;
  }
}
